@page
@model Pizzaria.Pages.CheckoutModel
@{
}

<h1 class="text-center">Order Summary</h1>
@{
    var imagePath = "./images/Pizzas/" + (@Model.ImageTitle + ".png");
}
<div class="text-center">
    <div class="col-3 mx-auto mb-5">
        <img src=@imagePath class="w-100" asp-append-versions="true" />
        <p>You ordered a @Model.PizzaName Pizza</p>
        <p>Total price: $@Model.PizzaPrice</p><br />
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="Thankyou">Confirm Order</a>
    </div>
</div>