@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">

    <h1 class="display-4 text-black">Vinny's Homemade Pizza Pies</h1>
    <h4 class="mainSubTitle">Straight from Brooklyn to your doorstep</h4>
    <h6>Fugedabowdit!</h6>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary mt-4" asp-area="" asp-page="/Pizza">Order Now!</a>

</div>
